{% extends "cellar/layout.html" %}

{% block body %}
    <div id='login-container' class='flex'>
        <h1 class='fs-900 text-accent'>Login</h1>

        {% if message %}
            <div class="msg">{{ message }}</div>
        {% endif %}
        <div id='login-form-container' class=''>
            <form class='flex' action="{% url 'cellar:login' %}" method="post">
                {% csrf_token %}
                <div class="neupho inset">
                    <input autofocus class="form-control" type="text" name="username" placeholder="Username">
                </div>
                <div class="neupho inset">
                    <input class="form-control" type="password" name="password" placeholder="Password">
                </div>
                <input class="btn neupho text-accent" type="submit" value="Login">
            </form>
        </div>

        <div id='register-link'>
            Don't have an account? <a class='text-accent' href="{% url 'cellar:register' %}">Register here.</a>
        </div>
    </div>

{% endblock %}

{% block script %}
    <script>
        window.addEventListener("load", () => {
            store.page = 'login';
        });
    </script>
{% endblock %}