{% extends "cellar/layout.html" %}

{% block body %}


    <div id='login-container' class='flex'>
        <h2 class='fs-900 text-accent'>Register</h2>

        {% if message %}
            <div class="msg">{{ message }}</div>
        {% endif %}
        <div id='login-form-container' class=''>
            <form id="login-form" class='flex' action="{% url 'cellar:register' %}" method="post">
                {% csrf_token %}
                <div class="neupho inset">
                    <input class="login-input" autofocus type="text" name="username" placeholder="Username">
                </div>
                <div class="neupho inset">
                    <input class="login-input" type="email" name="email" placeholder="Email Address">
                </div>
                <div class="neupho inset">
                    <input class="login-input" type="password" name="password" placeholder="Password">
                </div>
                <div class="neupho inset">
                    <input class="login-input" type="password" name="confirmation" placeholder="Confirm Password">
                </div>
                <input class="btn neupho text-accent" type="submit" id="register-btn" value="Register">
            </form>
        </div>
        <div id='register-link'>
            Already have an account? <a class='text-accent' href="{% url 'cellar:login' %}">Log In here.</a>
        </div>
    </div>
    

{% endblock %}

{% block script %}
    <script>
        window.addEventListener("load", () => {
            store.page = 'register';
            console.log('Page: Register')
        });
    </script>
{% endblock %}