{% extends "camping/layout.html" %}

{% block body %}
<div class="dropdowns">
    <form method="POST">
        {% csrf_token %}
        <label for='res-loc-dd'>Location:</label>
        <select id="loc-select" name='res-loc-dd' onchange='numResults();' multiple>
            {% for resloc in dd_opt.resource_locations.all %}
            <option value='{{ resloc.full_name }}'>{{ resloc.full_name }}</option>
            {% endfor %}
        </select>

        <label for='res-cat-dd'>Category:</label>
        <select id="cat-select" name='res-cat-dd' onchange='numResults();'>
            <option value='all'>All</option>
            {% for rescat in dd_opt.resource_categories.all %}
            <option value='{{ rescat.name }}'>{{ rescat.name }}</option>
            {% endfor %}
        </select>

        <label for='equip-dd'>Equipment:</label>
        <select id="equip-select" name='equip-dd' onchange='numResults();'>
            <option value='all'>All</option>
            {% for equip in dd_opt.equipment.all %}
            <option value='{{ equip.name }}'>{{ equip.name }}</option>
            {% endfor %}
        </select>

        <label for='attr-dd'>Features:</label>
        <select id="attr-select" name='attr-dd' onchange='numResults();'>
            <option value='all'>All</option>
            {% for attr in dd_opt.attributes.all %}
            <option value='{{ attr.main_name }}'>{{ attr.main_name }}</option>
            {% endfor %}
        </select>
        <input type="submit" value='submit'/>
    </form>
    <div id="num-results">{{ num_results }} matching sites.</div>
</div>

<div class="site-section">
    {% for site in page_obj %}
    Campsite {{ site.name }} ({{ site.resource_id }}) of {{ site.resource_location.full_name }}
    <ul>
        <li>Resource Location: {{ site.resource_location.short_name }} ({{ site.resource_location.resource_location_id }})</li>
        {% if site.site_attributes.count > 0 %}
        <li>Attributes:</li>
        <ul>
            {% for attr in site.site_attributes.all %}
            <li>{{ attr.attribute.main_name }}: {{ attr.value }}</li>
            {% endfor %}
        </ul>
        {% endif %}
        <li>Fee Category: {{ site.fee_category.name }}</li>
        <li></li>
        <li></li>
        <li></li>
    </ul>
    {% endfor %}
</div>

<div class="paginator-section">
    <span class="current-page">
        Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}
    </span>
    <nav aria-label="Page navigation">
        <ul class="pagination">
        <li class="page-item">
            {% if page_obj.has_previous %}
                <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
                    <section aria-hidden="true">&laquo;</section>
                </a>
            {% endif %}
        </li>
        {% for num in page_obj.paginator.page_range %}
            {% if page_obj.number == num %}
                <li class="page-item active"><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% elif num > page_obj.number|add:'-3' and num < page_obj.number|add:'3' %}
                <li class="page-item "><a class="page-link" href="?page={{ num }}">{{ num }}</a></li>
            {% endif %}
        {% endfor %}
        {% if page_obj.has_next %}
            <li class="page-item">
                <a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
                <section aria-hidden="true">&raquo;</section>
                </a>
            </li>
        {% endif %}
        </ul> 
    </nav>
</div> 

{% endblock %}