* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
}

.navbar {
    width: 100%;
}

.dropdowns {
    display: flex;
    flex-direction: column;
    width: 100%;
}

form {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    width: 100%;

}

.single-dd-container {
    display: flex;
    flex-direction: column;
    margin: 0.3rem 1rem 0.3rem 1rem;
}

#submit-btn {
    max-width: 100px;
    max-height: 30px;
}

#num-results {
    text-align: center;
    font-weight: bold;
}

.site-section {
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.site-container {
    display: flex;
    flex-direction: column;
    width: 80%;
    height: auto;
    border: 3px solid black;
    margin: 0.7rem;
}

.attribute-container {
    display: flex;
    flex-direction: column;
    background: rgba(0,0,0,0.07);
    border: 1px solid black;
}

.header {
    display: flex;
    /* border: 1px solid black; */
    font-size: 1.2rem;
    color: rgba(0,0,0,0.8);
    font-variant: small-caps;
    font-weight: bold;
}

.content {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.attr-box {
    display: flex;
    flex-direction: column;
    /* background: rgba(255,255,255,0.4); */
    border: 1px dotted green;
    align-items: center;
    justify-content: center;
    flex: auto;
}

.attr-box span {

}

#site-num {
    font-size: 1.5rem;
}

#park-name {
    font-size: 1.5rem;
}

#res-id {
    font-size: 1rem;
}

@media (max-width: 600px) {

}
